// Why this names? => http://chir.ag/projects/name-that-color
:root {
  --supernova: #fecc02;
  --biscay: #1d2d5e;
  --iron: #d1d2d3;
  --azure: #3860ab;
  --storm-gray: #737387;
  --mercury: #e8e8e8;
  --flamingo: #f34444;
}
