.layout {
  // Box Model
  width: 100%;
  padding: 0 24px;
  max-width: 1200px;
  margin: 0 auto 60px auto;

  &__title {
    // Typography
    font-size: 24px;
    font-weight: 600;

    // Box Model
    margin-bottom: 30px;
  }

  &__subtitle {
    // Typography
    font-size: 20px;
    font-weight: 600;

    // Box Model
    margin-bottom: 15px;
  }

  &__row {
    // Box Model
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -10px;
  }

  &__column {
    // Box Model
    padding: 10px;
    flex-basis: 100%;
  }

  &__content {
    // Box Model
    border: 1px solid var(--iron);
    padding: 15px;

    // Visual
    border-radius: 4px;
  }
}

@media screen and (min-width: 700px) {
  .layout {
    &__column {
      // Box Model
      flex-basis: 50%;

      &--one-quarter {
        // Box Model
        flex: 0 0 35%;
        max-width: 35%;
      }

      &--auto {
        // Box Model
        flex: 1;
      }
    }

    &__content {
      // Box Model
      padding: 20px;
    }
  }
}
