.pokeblock {
  // Box Model
  flex-basis: 50%;
  padding: 0 10px;
  margin-bottom: 20px;

  // Visual
  overflow: hidden;

  &__content {
    // Box Model
    width: 100%;
    display: block;
    border: 1px solid var(--iron);
    border-radius: 4px;
    padding: 15px;

    // Typography
    text-decoration: none;

    // Visual
    transition: all ease-in-out 0.2s;

    &:hover {
      // Visual
      box-shadow: #28282880 0px 0px 25px -12px;
      transition: all ease-in-out 0.2s;
    }
  }

  &__figure {
    // Box Model
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    // Box Model
    height: 100px;
    margin-bottom: 20px;
  }

  &__caption {
    // Typography
    text-align: center;
    font-weight: 600;
    color: var(--azure);
    text-decoration: none;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 700px) {
  .pokeblock {
    // Box Model
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1024px) {
  .pokeblock {
    // Box Model
    flex-basis: 25%;
  }
}
